In [4]:
import pandas as pd
import numpy as np
df = pd.read_csv("imdbTop250.csv")
df

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [5]:
df.columns

Index(['Ranking', 'IMDByear', 'IMDBlink', 'Title', 'Date', 'RunTime', 'Genre',
       'Rating', 'Score', 'Votes', 'Gross', 'Director', 'Cast1', 'Cast2',
       'Cast3', 'Cast4'],
      dtype='object')

In [6]:
df.info

<bound method DataFrame.info of       Ranking  IMDByear            IMDBlink  \
0           1      1996   /title/tt0076759/
1           2      1996   /title/tt0111161/
2           3      1996   /title/tt0117951/
3           4      1996   /title/tt0114814/
4           5      1996   /title/tt0108598/
...       ...       ...                 ...
6495      246      2021   /title/tt0058946/
6496      247      2021   /title/tt0050783/
6497      248      2021   /title/tt0093779/
6498      249      2021   /title/tt7060344/
6499      250      2021  /title/tt10280296/

                                   Title  Date  RunTime  \
0     Star Wars: Episode IV - A New Hope  1977      121
1               The Shawshank Redemption  1994      142
2                          Trainspotting  1996       93
3                     The Usual Suspects  1995      106
4                     The Wrong Trousers  1993       30
...                                  ...   ...      ...
6495               The Battle of Algiers  1966      121
6496                   Nights of Cabiria  1957      110
6497                  The Princess Bride  1987       98
6498                          Raatchasan  2018      170
6499                        Sardar Udham  2021      164

                           Genre  Rating  Score    Votes   Gross  \
0     Action, Adventure, Fantasy     8.6   90.0  1299781  322.74
1                          Drama     9.3   80.0  2529673   28.34
2                          Drama     8.1   83.0   665213   16.50
3          Crime, Drama, Mystery     8.5   77.0  1045626   23.34
4       Animation, Short, Comedy     8.3    NaN    53316     NaN
...                          ...     ...    ...      ...     ...
6495                  Drama, War     8.1   96.0    57995    0.06
6496                       Drama     8.1    NaN    47318    0.75
6497  Adventure, Family, Fantasy     8.1   77.0   416207   30.86
6498       Crime, Drama, Mystery     8.4    NaN    37474     NaN
6499     Biography, Crime, Drama     8.7    NaN    34889     NaN

              Director              Cast1              Cast2  \
0         George Lucas        Mark Hamill      Harrison Ford
1       Frank Darabont        Tim Robbins     Morgan Freeman
2          Danny Boyle      Ewan McGregor       Ewen Bremner
3         Bryan Singer       Kevin Spacey      Gabriel Byrne
4            Nick Park       Peter Sallis      Peter Hawkins
...                ...                ...                ...
6495  Gillo Pontecorvo     Brahim Hadjadj        Jean Martin
6496  Federico Fellini   Giulietta Masina    François Périer
6497        Rob Reiner         Cary Elwes     Mandy Patinkin
6498         Ram Kumar      Vishnu Vishal         Amala Paul
6499    Shoojit Sircar      Vicky Kaushal      Banita Sandhu

                   Cast3              Cast4
0          Carrie Fisher      Alec Guinness
1             Bob Gunton     William Sadler
2       Jonny Lee Miller       Kevin McKidd
3       Chazz Palminteri    Stephen Baldwin
4                    NaN                NaN
...                  ...                ...
6495         Yacef Saadi      Samia Kerbash
6496        Franca Marzi        Dorian Gray
6497        Robin Wright     Chris Sarandon
6498          Radha Ravi    Sangili Murugan
6499         Shaun Scott      Stephen Hogan

[6500 rows x 16 columns]>

In [7]:
df.head(5)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN

In [8]:
df.head(10)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
0,1,1996,/title/tt0076759/,Star Wars: Episode IV - A New Hope,1977,121,"Action, Adventure, Fantasy",8.6,90.0,1299781,322.74,George Lucas,Mark Hamill,Harrison Ford,Carrie Fisher,Alec Guinness
1,2,1996,/title/tt0111161/,The Shawshank Redemption,1994,142,Drama,9.3,80.0,2529673,28.34,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler
2,3,1996,/title/tt0117951/,Trainspotting,1996,93,Drama,8.1,83.0,665213,16.50,Danny Boyle,Ewan McGregor,Ewen Bremner,Jonny Lee Miller,Kevin McKidd
3,4,1996,/title/tt0114814/,The Usual Suspects,1995,106,"Crime, Drama, Mystery",8.5,77.0,1045626,23.34,Bryan Singer,Kevin Spacey,Gabriel Byrne,Chazz Palminteri,Stephen Baldwin
4,5,1996,/title/tt0108598/,The Wrong Trousers,1993,30,"Animation, Short, Comedy",8.3,NaN,53316,NaN,Nick Park,Peter Sallis,Peter Hawkins,NaN,NaN
5,6,1996,/title/tt0112691/,A Close Shave,1995,30,"Animation, Short, Comedy",8.1,NaN,40586,NaN,Nick Park,Peter Sallis,Anne Reid,Justin Fletcher,Peter Hawkins
6,7,1996,/title/tt0117731/,Star Trek: First Contact,1996,111,"Action, Adventure, Drama",7.6,71.0,122819,92.00,Jonathan Frakes,Patrick Stewart,Jonathan Frakes,Brent Spiner,LeVar Burton
7,8,1996,/title/tt0034583/,Casablanca,1942,102,"Drama, Romance, War",8.5,100.0,551575,1.02,Michael Curtiz,Humphrey Bogart,Ingrid Bergman,Paul Henreid,Claude Rains
8,9,1996,/title/tt0083658/,Blade Runner,1982,117,"Action, Drama, Sci-Fi",8.1,84.0,736925,32.87,Ridley Scott,Harrison Ford,Rutger Hauer,Sean Young,Edward James Olmos
9,10,1996,/title/tt0108052/,Schindler's List,1993,195,"Biography, Drama, History",8.9,94.0,1292510,96.90,Steven Spielberg,Liam Neeson,Ralph Fiennes,Ben Kingsley,Caroline Goodall

In [9]:
df.tail(5)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [10]:
df.tail(10)

,Ranking,IMDByear,IMDBlink,Title,Date,RunTime,Genre,Rating,Score,Votes,Gross,Director,Cast1,Cast2,Cast3,Cast4
6490,241,2021,/title/tt0025316/,It Happened One Night,1934,105,"Comedy, Romance",8.1,87.0,100544,4.36,Frank Capra,Clark Gable,Claudette Colbert,Walter Connolly,Roscoe Karns
6491,242,2021,/title/tt0381681/,Before Sunset,2004,80,"Drama, Romance",8.1,90.0,252593,5.82,Richard Linklater,Ethan Hawke,Julie Delpy,Vernon Dobtcheff,Louise Lemoine Torrès
6492,243,2021,/title/tt0083922/,Fanny and Alexander,1982,188,Drama,8.1,100.0,62347,4.97,Ingmar Bergman,Bertil Guve,Pernilla Allwin,Kristina Adolphson,Börje Ahlstedt
6493,244,2021,/title/tt0169858/,Neon Genesis Evangelion: The End of Evangelion,1997,87,"Animation, Action, Drama",8.1,NaN,49868,NaN,"Hideaki Anno, Kazuya Tsurumaki",Megumi Ogata,Megumi Hayashibara,Yûko Miyamura,Kotono Mitsuishi
6494,245,2021,/title/tt0060107/,Andrei Rublev,1966,205,"Biography, Drama, History",8.1,NaN,52008,0.10,Andrei Tarkovsky,Anatoliy Solonitsyn,Ivan Lapikov,Nikolay Grinko,Nikolay Sergeev
6495,246,2021,/title/tt0058946/,The Battle of Algiers,1966,121,"Drama, War",8.1,96.0,57995,0.06,Gillo Pontecorvo,Brahim Hadjadj,Jean Martin,Yacef Saadi,Samia Kerbash
6496,247,2021,/title/tt0050783/,Nights of Cabiria,1957,110,Drama,8.1,NaN,47318,0.75,Federico Fellini,Giulietta Masina,François Périer,Franca Marzi,Dorian Gray
6497,248,2021,/title/tt0093779/,The Princess Bride,1987,98,"Adventure, Family, Fantasy",8.1,77.0,416207,30.86,Rob Reiner,Cary Elwes,Mandy Patinkin,Robin Wright,Chris Sarandon
6498,249,2021,/title/tt7060344/,Raatchasan,2018,170,"Crime, Drama, Mystery",8.4,NaN,37474,NaN,Ram Kumar,Vishnu Vishal,Amala Paul,Radha Ravi,Sangili Murugan
6499,250,2021,/title/tt10280296/,Sardar Udham,2021,164,"Biography, Crime, Drama",8.7,NaN,34889,NaN,Shoojit Sircar,Vicky Kaushal,Banita Sandhu,Shaun Scott,Stephen Hogan

In [14]:
df["Title"]

0       Star Wars: Episode IV - A New Hope
1                 The Shawshank Redemption
2                            Trainspotting
3                       The Usual Suspects
4                       The Wrong Trousers
                       ...
6495                 The Battle of Algiers
6496                     Nights of Cabiria
6497                    The Princess Bride
6498                            Raatchasan
6499                          Sardar Udham
Name: Title, Length: 6500, dtype: object

In [15]:
df["Title"].head()

0    Star Wars: Episode IV - A New Hope
1              The Shawshank Redemption
2                         Trainspotting
3                    The Usual Suspects
4                    The Wrong Trousers
Name: Title, dtype: object

In [21]:
df[["Title","Rating"]].head()

                                Title  Rating
0  Star Wars: Episode IV - A New Hope     8.6
1            The Shawshank Redemption     9.3
2                       Trainspotting     8.1
3                  The Usual Suspects     8.5
4                  The Wrong Trousers     8.3

In [22]:
df[["Title","Rating"]].tail(7)

                                               Title  Rating
6493  Neon Genesis Evangelion: The End of Evangelion     8.1
6494                                   Andrei Rublev     8.1
6495                           The Battle of Algiers     8.1
6496                               Nights of Cabiria     8.1
6497                              The Princess Bride     8.1
6498                                      Raatchasan     8.4
6499                                    Sardar Udham     8.7

In [24]:
a=df[["Title","Rating"]].head(10)
a.tail(5)

                      Title  Rating
5             A Close Shave     8.1
6  Star Trek: First Contact     7.6
7                Casablanca     8.5
8              Blade Runner     8.1
9          Schindler's List     8.9

In [25]:
df[["Title","Rating"]].head(10).tail(5)

                      Title  Rating
5             A Close Shave     8.1
6  Star Trek: First Contact     7.6
7                Casablanca     8.5
8              Blade Runner     8.1
9          Schindler's List     8.9

In [26]:
df[5:][["Title","Rating"]].head()

                      Title  Rating
5             A Close Shave     8.1
6  Star Trek: First Contact     7.6
7                Casablanca     8.5
8              Blade Runner     8.1
9          Schindler's List     8.9

In [32]:
df[df["Rating"]>7.95][["Title","Rating"]].head(50)

                                                Title  Rating
0                  Star Wars: Episode IV - A New Hope     8.6
1                            The Shawshank Redemption     9.3
2                                       Trainspotting     8.1
3                                  The Usual Suspects     8.5
4                                  The Wrong Trousers     8.3
5                                       A Close Shave     8.1
7                                          Casablanca     8.5
8                                        Blade Runner     8.1
9                                    Schindler's List     8.9
10                                       Citizen Kane     8.3
11                                       Pulp Fiction     8.9
12  Dr. Strangelove or: How I Learned to Stop Worr...     8.4
13                                      The Godfather     9.2
15                                         Braveheart     8.3
18                                          Toy Story     8.3
19                    One Flew Over the Cuckoo's Nest     8.7
21                                              Fargo     8.1
23                                  Three Colors: Red     8.1
24                                      Seven Samurai     8.6
25     Star Wars: Episode V - The Empire Strikes Back     8.7
27                             Léon: The Professional     8.5
28                                 The Princess Bride     8.1
30                              2001: A Space Odyssey     8.3
31                                     Reservoir Dogs     8.3
33      Indiana Jones and the Raiders of the Lost Ark     8.4
37                    Monty Python and the Holy Grail     8.2
38                                        Rear Window     8.5
39                                              Se7en     8.6
40                                             Aliens     8.3
41                                 A Clockwork Orange     8.3
44                     The Good, the Bad and the Ugly     8.8
45                                         12 Monkeys     8.0
46                              It's a Wonderful Life     8.6
50                              To Kill a Mockingbird     8.2
51                                       12 Angry Men     9.0
52                                 Lawrence of Arabia     8.3
53                                 North by Northwest     8.3
54                                     Apocalypse Now     8.4
56                                        Underground     8.1
57                                         Goodfellas     8.7
60         Star Wars: Episode VI - Return of the Jedi     8.3
61                       Once Upon a Time in the West     8.5
62                                    Cinema Paradiso     8.5
63                                        Taxi Driver     8.2
64                                               Heat     8.2
66                           The Silence of the Lambs     8.6
67                                            Vertigo     8.3
68                                    Wings of Desire     8.0
71                                              Alien     8.4
74                                      The Third Man     8.1

In [36]:
df[(df["IMDByear"] >2013 ) &( df["IMDByear"] <2016) ]["Title"]

4500    The Shawshank Redemption
4501               The Godfather
4502      The Godfather: Part II
4503             The Dark Knight
4504                Pulp Fiction
                  ...
4995                     Solaris
4996                   La Strada
4997                 The Killing
4998        In the Mood for Love
4999                The Graduate
Name: Title, Length: 500, dtype: object

In [40]:
df[(df["Votes"]>99999) | ((df["Rating"]>=8) & (df["Rating"]<=9))][["Title","Rating","Votes"]]

                                   Title  Rating    Votes
0     Star Wars: Episode IV - A New Hope     8.6  1299781
1               The Shawshank Redemption     9.3  2529673
2                          Trainspotting     8.1   665213
3                     The Usual Suspects     8.5  1045626
4                     The Wrong Trousers     8.3    53316
...                                  ...     ...      ...
6495               The Battle of Algiers     8.1    57995
6496                   Nights of Cabiria     8.1    47318
6497                  The Princess Bride     8.1   416207
6498                          Raatchasan     8.4    37474
6499                        Sardar Udham     8.7    34889

[5907 rows x 3 columns]

In [17]:
df.columns

Index(['Ranking', 'IMDByear', 'IMDBlink', 'Title', 'Date', 'RunTime', 'Genre',
       'Rating', 'Score', 'Votes', 'Gross', 'Director', 'Cast1', 'Cast2',
       'Cast3', 'Cast4'],
      dtype='object')