In [50]:
import pandas as pd

data = pd.read_csv("nba.csv")
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
2,John Holland,Boston Celtics,30.0,SG,27.0,6-5,205.0,Boston University,NaN
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
4,Jonas Jerebko,Boston Celtics,8.0,PF,29.0,6-10,231.0,NaN,5000000.0
...,...,...,...,...,...,...,...,...,...
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
454,Raul Neto,Utah Jazz,25.0,PG,24.0,6-1,179.0,NaN,900000.0
455,Tibor Pleiss,Utah Jazz,21.0,C,26.0,7-3,256.0,NaN,2900000.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0
457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [51]:
data.dropna(inplace=True)
df = data
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery Bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae Crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. Hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan Mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly Olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney Hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris Johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey Lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin Mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff Withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [52]:
data.columns

Index(['Name', 'Team', 'Number', 'Position', 'Age', 'Height', 'Weight',
       'College', 'Salary'],
      dtype='object')

In [53]:
data["Name"] = data["Name"].str.upper()
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,AVERY BRADLEY,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,JAE CROWDER,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.J. HUNTER,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,JORDAN MICKEY,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,KELLY OLYNYK,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,RODNEY HOOD,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,CHRIS JOHNSON,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,TREY LYLES,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,SHELVIN MACK,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,JEFF WITHEY,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [54]:
data["Name"] = data["Name"].str.lower()
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [55]:
data["Name"] = data["Name"].str.capitalize()
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,Avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,Jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,R.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,Jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,Kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,Rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,Chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,Trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,Shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,Jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [56]:
data["Name"] = data["Name"].str.lower()
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0
...,...,...,...,...,...,...,...,...,...
449,rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0
451,chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0
452,trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0
453,shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0
456,jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0

In [57]:
data["index"] = data["Name"].str.find('a')
data

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,index
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,0
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,-1
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,4
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,-1
...,...,...,...,...,...,...,...,...,...,...
449,rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,-1
451,chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,-1
452,trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,-1
453,shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,9
456,jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,-1

In [58]:
data[data.Name.str.contains("jordan")]

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,index
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,4
98,deandre jordan,Los Angeles Clippers,6.0,C,27.0,6-11,265.0,Texas A&M,19689000.0,2
110,jordan clarkson,Los Angeles Lakers,6.0,PG,24.0,6-5,194.0,Missouri,845059.0,4
175,jordan mcrae,Cleveland Cavaliers,12.0,SG,25.0,6-5,179.0,Tennessee,111196.0,4
201,jordan hill,Indiana Pacers,27.0,C,28.0,6-10,235.0,Arizona,4000000.0,4
257,jordan adams,Memphis Grizzlies,3.0,SG,21.0,6-5,209.0,UCLA,1404600.0,4
289,jordan hamilton,New Orleans Pelicans,25.0,SG,25.0,6-7,220.0,Texas,1015421.0,4

In [62]:

data1 = df
data1

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,index
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,0
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,-1
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,4
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,-1
...,...,...,...,...,...,...,...,...,...,...
449,rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,-1
451,chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,-1
452,trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,-1
453,shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,9
456,jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,-1

In [65]:
data1=data1.Team.str.replace(" ","-")
data1

0      Boston-Celtics
1      Boston-Celtics
3      Boston-Celtics
6      Boston-Celtics
7      Boston-Celtics
            ...
449         Utah-Jazz
451         Utah-Jazz
452         Utah-Jazz
453         Utah-Jazz
456         Utah-Jazz
Name: Team, Length: 364, dtype: object

In [66]:
data2= df

In [72]:
data2[["FirstName","LastName"]] = data["Name"].loc[data["Name"].str.split().str.len()==2].str.split(expand=True)
data2

,Name,Team,Number,Position,Age,Height,Weight,College,Salary,index,FirstName,LastName
0,avery bradley,Boston Celtics,0.0,PG,25.0,6-2,180.0,Texas,7730337.0,0,avery,bradley
1,jae crowder,Boston Celtics,99.0,SF,25.0,6-6,235.0,Marquette,6796117.0,1,jae,crowder
3,r.j. hunter,Boston Celtics,28.0,SG,22.0,6-5,185.0,Georgia State,1148640.0,-1,r.j.,hunter
6,jordan mickey,Boston Celtics,55.0,PF,21.0,6-8,235.0,LSU,1170960.0,4,jordan,mickey
7,kelly olynyk,Boston Celtics,41.0,C,25.0,7-0,238.0,Gonzaga,2165160.0,-1,kelly,olynyk
...,...,...,...,...,...,...,...,...,...,...,...,...
449,rodney hood,Utah Jazz,5.0,SG,23.0,6-8,206.0,Duke,1348440.0,-1,rodney,hood
451,chris johnson,Utah Jazz,23.0,SF,26.0,6-6,206.0,Dayton,981348.0,-1,chris,johnson
452,trey lyles,Utah Jazz,41.0,PF,20.0,6-10,234.0,Kentucky,2239800.0,-1,trey,lyles
453,shelvin mack,Utah Jazz,8.0,PG,26.0,6-3,203.0,Butler,2433333.0,9,shelvin,mack
456,jeff withey,Utah Jazz,24.0,C,26.0,7-0,231.0,Kansas,947276.0,-1,jeff,withey